include ./header

if(type == "error")
	h3(style='color:red') #{message}
else if(type == "success")
	h2 #{message}
	h3 New order, name: #{order.name}, price: #{order.price} added！
else
	if(order.sum == "NT$0")
		h3.w3-margin(style='color:red') 您還沒有點餐喔！請確實加入清單
	else
		h3.w3-margin 總金額為 #{order.sum} ，感謝您！